.mtButton{
    position: relative;
    width: 180px;
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 400;
    background-color: #fff;
    color: #646464;
    text-align: center;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1); 
    display: inline-block;
}

.mtButton a, .mtButton a:hover{color: #fff; text-decoration: none;}
.mtButton.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.1s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}
.mtButton.raised:hover {
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2),
                0 2px 4px 0 rgba(0, 0, 0, 0.3);
    transition-delay: 0s;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.mtButton.raised:active {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.40);
    transition-delay: 0s;
}
.mtCenter {margin: 0 auto;}
.mtContainer {text-align: center;}

#pro_idean .mtButton {background-color:#1faab1; color: #fff;}
#pro_idean .mtButton:hover { background-color:#22afb6; }
/*#pro_idean .mtButton a {color: #fff;}*/

#pro_cal .mtButton {background-color:#515e72; color: #fff;}
#pro_cal .mtButton:hover { background-color:#59687e; }
/*#pro_cal .mtButton a {color: #fff;}*/

#pro_list .mtButton {background-color:#FBC02D; color:#fff;}
/*#pro_list .mtButton a {color: #fff;}*/
#pro_list .mtButton:hover {background-color:#FFCA45; }

#pro_explorer .mtButton {background-color:#FBC02D;}
#pro_explorer .mtButton:hover {background-color:#FFCA45;}
/*#pro_explorer .mtButton a {color: #fff;}*/
#designSys .mtButton {background-color:#C1E8DC}
#designSys .mtButton:hover {background-color:#CFF6EB;}
#designSys .mtButton a, #designSys .mtButton a:hover {color: #00314D;}
#journey .mtButton {background-color:#C1E8DC}
#journey .mtButton:hover {background-color:#CFF6EB;}
#journey .mtButton a, #journey .mtButton a:hover {color: #00314D;}
